body {
    font-family: sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    margin-right: 1em;
}

h5 {
    font-size: 1.1em;
    margin: 0;
    margin: 12px 0px 4px 0px;
    margin-bottom: 4px;
    display: inline-block;;
    margin-right: .8em;
}

.addNew {
    margin: 0px;
    padding: 10px 10px;
    position: relative;
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #e1e5f0, #d0edf5 100%);
}

.showNewForm {
    position: absolute;
    right: 15px;
    top: 0px;
    padding: 0px;
    display: block;
    font-weight: bold;
    background: none;
    font-size: 1.2em;
    border: none;
}

form {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*position: relative;*/
}

form>div {
    padding: 8px 0px;
}

.newCoffeeMaker {
    margin: 0px;
}

.newCoffeeMaker input[type=text],
.newCoffeeMaker input[type=url],
.newCoffeeMaker input[type=number] {
    box-sizing: border-box;
    background: transparent;
    font-size: 1em;
}

.newCoffeeMaker input[type=radio] {
    margin: 0px 4px 0px 0px;
}

.newCoffeeMaker input[type=checkbox] {
    margin: 0px 4px 0px 0px;
}

.formgroup>div {
    display: inline;
    padding-right: 18px;
}

.formgroup>label {
    display: inline-block;
    width: 80px;
}

.buttongroup>button {
    margin-left: 10px;
    width: 60px;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .content {
    display: inline-block;
}

.content div {
    padding: 2px 0px;
}

.delete {
    position: absolute;
    right: 15px;
    padding: 0px;
    display: inline-block;
    font-weight: bold;
    background: none;
    font-size: 1.2em;
    border: none;
}

.edit {
    position: absolute;
    right: 15px;
    top: 40px;
    padding: 0px;
    display: inline-block;
    width: 40px;
}